.about{
    background: rgb(168, 245, 213);
}
.about_div_left{
    width: 48%;
    height: 80%;
}
.about_div_left img{
    height: 550px;
}
.about_div_right{
    width: 48%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  margin: auto;
}